
/* @media screen and (max-width:767px){
  #progress{
      display: none !important;
  }

} */
#progress{
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 99999;
}
#progress-value{
  display: block;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 999;
  display: grid;
  place-items: center;
  font-size: 17px;
  color: #6293c4;
}
#progress-value svg{
  padding: 8px;
    width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    
}